<div class="jumbotron">
    <center>
        <h1>Welcome to Launchpad's Pizza</h1>
        <img src="https://www.comemelapizza.com/wp-content/uploads/2015/05/Pizza-de-carne-picada-5-1030x682.jpg" alt="launchad's pizza">
        <br>
        <%= link_to "Check out our pizzas", pizzas_path, class: "btn btn-default" %>
    </center>
</div>